a {
  text-decoration: none;
}
a:hover {
  /* color: var(--primary); */
  text-decoration: none;
}
.bg-primario {
  background-color: var(--primary);
}
.active-link {
  background-color: #9e6eff;
  color: white;
}
.card-ofertas {
  width: 500px;
  box-shadow: 0.3em 0.3em 0.7em var(--primary);
  transition: all 300ms;
  border-radius: 12px;
}
.crear {
  --color: var(--primary);
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}

.crear::before,
.crear::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.crear::before {
  top: -1em;
  left: -1em;
}

.crear::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.crear:hover::before,
.crear:hover::after {
  height: 410px;
  width: 410px;
}

.crear:hover {
  color: white;
}

.crear:active {
  filter: brightness(0.8);
}
.input {
  width: 100%;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: var(--primary);
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* boton enviar para datos */
.enviar {
  --color: var(--primary);
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}

.enviar::before,
.enviar::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.enviar::before {
  top: -1em;
  left: -1em;
}

.enviar::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.enviar:hover::before,
.enviar:hover::after {
  height: 410px;
  width: 410px;
}

.enviar:hover {
  color: white;
}

.enviar:active {
  filter: brightness(0.8);
}
@media screen and (max-width: 767px) {
  .card-ofertas {
    width: 250px;
  }
}
