a {
  text-decoration: none;
}
.img-produc-1 {
  width: auto;
  height: 200px;
  object-fit: contain;
}
.img-produc-2 {
  width: auto;
  height: 160px;
  object-fit: contain;
}
.img-produc-3 {
  width: auto;
  height: 160px;
  object-fit: contain;
}
.card {
  width: 500px;
  box-shadow: 0.3em 0.3em 0.7em #2138b8;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-2 {
  width: 500px;
  box-shadow: 0.3em 0.3em 0.7em #21b83a;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-3 {
  width: 500px;
  box-shadow: 0.3em 0.3em 0.7em rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-ofertas {
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  border-radius: 10px;
  transition: all 300ms;
}
.card-ofertas:hover {
  /*  opacity: 0.8; */
  transform: scale(1.05);
  border: var(--primary) 0.1em solid;
}
@media screen and (max-width: 767px) {
  .card-ofertas {
    width: 250px;
  }
}
@media screen and (max-width: 660px) {
  .card {
    width: 330px;
  }
  .card-2 {
    width: 330px;
  }
  .card-3 {
    width: 330px;
  }
}
