<section class="my-4">
  <div class="container mx-auto p-3">
    <h3>Te puede interesar</h3>
    <div class="my-3" *ngIf="errorBack">
      <p class="text-danger">Error al cargar los datos</p>
    </div>
    <div
      class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-auto"
      *ngIf="!errorBack"
    >
      <div class="col text-center card mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
          <div class="col text-start pt-2">
            <h4 class="text-center text-md-start">{{ producPlay.nombre }}</h4>
            <h5>${{ producPlay.precio }}</h5>
            <h5 class="text-primario">Hasta un 50% OFF</h5>
            <a
              routerLink="/ver-producto/{{ producPlay.id_producto }}"
              class="text-primary fw-bold"
            >
              Ver Más
            </a>
          </div>
          <div class="col align-items-center">
            <a routerLink="/ver-producto/{{ producPlay.id_producto }}">
              <img [src]="producPlay.imagen" class="img-fluid img-produc-1" />
            </a>
          </div>
        </div>
      </div>
      <div class="col text-center card-2 p-2 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
          <div class="col text-start pt-2">
            <h4 class="text-center text-md-start">{{ producXbox.nombre }}</h4>
            <h5>${{ producXbox.precio }}</h5>
            <h5 class="text-primario">Hasta un 70% OFF</h5>
            <a
              routerLink="/ver-producto/{{ producXbox.id_producto }}"
              class="text-primary fw-bold"
            >
              Ver Más
            </a>
          </div>
          <div class="col align-items-center">
            <a routerLink="/ver-producto/{{ producXbox.id_producto }}">
              <img [src]="producXbox.imagen" class="img-fluid img-produc-1" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5" size="5" />
</section>
<section class="my-4">
  <div class="container mx-auto p-3">
    <h3>Ofertas del mes</h3>
    <div class="my-3" *ngIf="errorBackOfertas">
      <p class="text-danger">Error al cargar los datos</p>
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 g-4 align-items-center my-auto"
      *ngIf="!errorBackOfertas"
    >
      <div class="col text-center" *ngFor="let producto of productos">
        <div class="card-ofertas mx-auto">
          <div class="container text-center p-2">
            <a
              routerLink="/ver-producto/{{ producto.id_producto }}"
              class="text-center"
            >
              <img class="img-produc-2 img-fluid" [src]="producto.imagen" />
            </a>
          </div>
          <hr />
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h5 class="col text-center text-md-end">
                ${{ producto.precio }}
              </h5>
              <p class="col text-success text-center text-md-start my-auto">
                30% OFF
              </p>
            </div>
            <a routerLink="/ver-producto" class="text-success text-start">
              Envió Gratis
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5" size="5" />
</section>
<section class="my-4">
  <div class="container mx-auto p-3">
    <h3>Descubrí Más</h3>
    <div class="my-3" *ngIf="errorBack">
      <p class="text-danger">Error al cargar los datos</p>
    </div>
    <div
      class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-auto"
      *ngIf="!errorBack"
    >
      <div class="col text-center card-3 p-2 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
          <div class="col text-start pt-2">
            <h4 class="text-center text-md-start">
              {{ producPc.nombre }}
            </h4>
            <h5>${{ producPc.precio }}</h5>
            <h5 class="text-primario">Hasta un 20% OFF</h5>
            <a
              routerLink="/ver-producto/{{ producPc.id_producto }}"
              class="text-primary fw-bold"
              >Ver Más</a
            >
          </div>
          <div class="col align-items-center">
            <a routerLink="/ver-producto/{{ producPc.id_producto }}">
              <img [src]="producPc.imagen" class="img-fluid img-produc-1" />
            </a>
          </div>
        </div>
      </div>
      <div class="col text-center card-3 p-2 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
          <div class="col text-start pt-2">
            <h4 class="text-center text-md-start">
              {{ producLenovo.nombre }}
            </h4>
            <h5>${{ producLenovo.precio }}</h5>
            <h5 class="text-primario">Hasta un 30% OFF</h5>
            <a
              routerLink="/ver-producto/{{ producLenovo.id_producto }}"
              class="text-primary fw-bold"
              >Ver Más</a
            >
          </div>
          <div class="col align-items-center">
            <a routerLink="/ver-producto/{{ producLenovo.id_producto }}">
              <img [src]="producLenovo.imagen" class="img-fluid img-produc-1" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
