:root {
  --primary: #5e17eb;
  --secondary: #130e0e;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  text-decoration: none;
}
.text-primario {
  color: var(--primary);
}
.text-secundario {
  color: var(--secondary);
}
* {
  font-family: "Quicksand", sans-serif;
}
