<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action bg-primario text-light fw-bold"
        >
          Panel de Control
        </a>
        <a
          routerLink="/mi-perfil"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/mi-perfil' }"
          >Mi Perfil</a
        >
        <a
          routerLink="/vender"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/vender' }"
          >Vender</a
        >
        <a
          routerLink="/mis-productos"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/mis-productos' }"
        >
          Mis Productos
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="my-3">Mis Productos</h3>
      <hr />
      <div class="row row-cols-1 row-cols-md-4 g-4 align-items-center">
        <div class="col" *ngFor="let producto of usuario.productos">
          <img
            src="https://via.placeholder.com/150x150.png"
            alt="Producto 1"
            class="img-fluid"
          />
          <p>{{ producto.nombre }}</p>
          <p>${{ producto.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
