<section class="container mt-4 body">
  <article class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action bg-primario text-light fw-bold"
        >
          Panel de Control
        </a>
        <a
          routerLink="/mi-perfil"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/mi-perfil' }"
          >Mi Perfil</a
        >
        <a
          routerLink="/agregar-producto"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/agregar-producto' }"
        >
          Agregar Producto
        </a>
        <a
          routerLink="/mis-productos"
          class="list-group-item list-group-item-action"
          [ngClass]="{ 'active-link': router.url === '/mis-productos' }"
        >
          Mis Productos
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <header>
        <h3 class="my-3 text-start">Mis Productos</h3>
        <p>
          Aquí puedes ver tus productos publicados, también puedes editarlo y
          eliminarlo
        </p>
      </header>
      <main>
        <button
          class="text-end"
          *ngIf="!(productos.length == 0)"
          (click)="editarProducto()"
        >
          Editar Productos
        </button>
        <hr />
        <div class="container text-center my-5" *ngIf="loader">
          <div class="line-wobble mx-auto"></div>
        </div>
        <div *ngIf="!productos.length">
          <h5 class="mx-auto">
            No se encontraron productos publicados con esta cuenta.
          </h5>
          <a routerLink="/agregar-producto" class="text-primario fw-bold">
            Ingresa aquí
          </a>
          para agregar productos.
        </div>
        <div class="row" *ngIf="productos">
          <!-- Productos como tarjetas en columnas de 4 -->
          <div class="col-md-3 my-2" *ngFor="let producto of productos">
            <div class="card mx-auto">
              <a routerLink="/ver-producto/{{ producto.id_producto }}">
                <img
                  class="card-img-top"
                  [src]="producto.imagen"
                  alt="{{ producto.nombre }}"
                />
              </a>
              <div class="card-body">
                <p class="card-title">{{ producto.nombre }}</p>
                <p class="card-text">${{ producto.precio }}</p>
                <p class="card-text">Cantidad: {{ producto.cantidad }}</p>
                <div *ngIf="editBoolean" class="container-fluid">
                  <div class="text-center">
                    <a routerLink="/edit-producto/{{ producto.id_producto }}">
                      <i
                        class="bi bi-pencil-square text-primario"
                        style="font-size: 20px"
                      >
                      </i>
                    </a>
                    <i
                      (click)="eliminarProduc(producto.id_producto)"
                      class="bi bi-x-square text-primario mx-3"
                      style="font-size: 20px; cursor: pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </article>
</section>
