a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  text-decoration: none;
}
.article {
  min-height: 100vh;
}
.card-ofertas {
  width: 500px;
  box-shadow: 0.3em 0.3em 0.7em var(--primary);
  transition: all 300ms;
  border-radius: 12px;
}
.crear {
  --color: var(--primary);
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}

.crear::before,
.crear::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.crear::before {
  top: -1em;
  left: -1em;
}

.crear::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.crear:hover::before,
.crear:hover::after {
  height: 410px;
  width: 410px;
}

.crear:hover {
  color: white;
}

.crear:active {
  filter: brightness(0.8);
}
.carrito {
  border: 2px solid var(--primary);
  border-radius: 12px;
}
.img-carrito {
  width: auto;
  height: 90px;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .card-ofertas {
    width: 250px;
  }
  .carrito {
    border: 0px solid var(--primary);
    border-radius: 12px;
  }
}
