<section class="container mx-auto my-4">
  <div class="align-self-center px-5 mx-auto">
    <div class="container-fluid bg-primario p-2">
      <div class="text-center">
        <img src="../../../assets/logo.png" class="img-fluid img-logo" />
      </div>
      <h1 class="text-center my-2 fw-bold text-dark">Crear Cuenta</h1>
      <form
        class="container mx-auto my-4"
        #f="ngForm"
        (ngSubmit)="onRegister()"
        novalidate
      >
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col form__group field mx-auto mb-4">
            <input
              placeholder="Name"
              class="form__field"
              id="nombre"
              name="nombre"
              type="text"
              [(ngModel)]="nombre"
              required
            />
            <label class="form__label fw-bold" for="name">
              Nombre completo
            </label>
          </div>
          <div class="col form__group field mx-auto mb-4">
            <input
              placeholder="Name"
              class="form__field"
              id="nombreUsuario"
              name="nombreUsuario"
              type="text"
              [(ngModel)]="nombreUsuario"
              required
            />
            <label class="form__label fw-bold" for="name">
              Nombre de usuario
            </label>
          </div>
          <div class="col form__group field mx-auto mb-4">
            <input
              placeholder="Name"
              class="form__field"
              id="email"
              name="email"
              type="email"
              [(ngModel)]="email"
              required
            />
            <label class="form__label fw-bold" for="name">Email</label>
          </div>
          <div class="col form__group field mx-auto">
            <input
              placeholder="Name"
              class="form__field"
              type="text"
              id="telefono"
              name="telefono"
              [(ngModel)]="telefono"
              required
            />
            <label class="form__label fw-bold" for="telefono">Telefono</label>
          </div>
          <div class="col form__group field mx-auto">
            <input
              placeholder="Name"
              class="form__field"
              type="text"
              id="ubicacion"
              name="ubicacion"
              [(ngModel)]="ubicacion"
              required
            />
            <label class="form__label fw-bold" for="password">Ubicación</label>
          </div>
          <div class="col form__group field mx-auto">
            <input
              placeholder="Name"
              class="form__field"
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
            />
            <label class="form__label fw-bold" for="password">Contraseña</label>
          </div>
        </div>
        <div class="container my-3 text-center" *ngIf="loader">
          <div class="line-wobble mx-auto"></div>
        </div>
        <p *ngIf="isRegisterFail" class="text-center text-danger mt-4 fw-bold">
          {{ errMensj }}
        </p>
        <div class="text-center my-3">
          <button class="mt-2 crear fw-bold" type="submit">Crear cuenta</button>
        </div>
      </form>
      <p class="text-center">
        Si ya tienes una cuenta ingresa aquí
        <a class="text-primario" routerLink="/login">Iniciar Sesión</a>
      </p>
    </div>
  </div>
</section>
