<footer>
  <hr class="mx-5" size="5" />
  <div class="container-fluid p-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 align-items-center">
      <div class="col colPiePag text-center">
        <div class="container text-center">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <i class="bi bi-linkedin mx-1 icon-footer"></i>
          </a>
          <a href="https://github.com/RodrigoProgram22" target="_blank">
            <i class="bi bi-github mx-1 icon-footer"></i>
          </a>
          <a href="https://portfolio-rodri.web.app/" target="_blank">
            <i class="bi bi-file-earmark-code mx-1 icon-footer"></i>
          </a>
        </div>
        <p class="fw-bold my-2 my-3">Mantente en contacto</p>
        <p class="fw-bold my-2">Siguenos en nuestras redes sociales</p>
      </div>
      <div class="col text-center">
        <a routerLink="/inicio">
          <img src="../../../assets/logoicon.png" class="logoFooter" alt="logo Mi Tec" />
        </a>
        <p class="fw-bold">Mi Tec</p>
        <p class="fw-bold">rodrigoprograma22@gmail.com</p>
      </div>
      <div class="col text-center">
        <div class="container my-2">
          <a class="fw-bold my-1 text-primario" routerLink="/inicio">
            Inicio
          </a>
        </div>
        <div class="container my-2">
          <a class="fw-bold my-1 text-primario" routerLink="/productos">
            Productos
          </a>
        </div>
        <div class="container my-2">
          <a class="fw-bold my-1 text-primario" routerLink="/carrito">
            Carrito
          </a>
        </div>
        <div class="container my-2">
          <a class="fw-bold my1 text-primario" routerLink="/agregar-producto">
            Agregar Productos
          </a>
        </div>
        <div class="container my-2">
          <a class="fw-bold my-1 text-primario" routerLink="/ayuda">Ayuda</a>
        </div>
      </div>
    </div>
    <hr class="mx-5" size="7" />
    <div class="container text-center">
      Copyright © MiTec 2023. Todos los derechos reservados.
    </div>
    <div class="container text-center">
      Desarrollado por
      <a
        href="https://www.linkedin.com/in/rodrigo-romano22/"
        class="fw-bold text-primario"
        >Romano Rodrigo</a
      >
      .
    </div>
  </div>
</footer>
