<article class="container my-3">
  <div class="container text-center" *ngIf="loader">
    <p class="fw-bold">Cargando...</p>
    <div class="line-wobble mx-auto"></div>
  </div>
  <div
    class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-2"
    *ngIf="produc.nombre"
  >
    <div class="col text-center">
      <img
        [src]="produc.imagen"
        class="img-fluid imgSombra"
        alt="{{ produc.nombre }}"
      />
    </div>
    <div class="col-4 detalles">
      <h2 class="fw-bold text-center text-md-start">{{ produc.nombre }}</h2>
      <p class="fw-bold">Proveedor: {{ produc.proveedor?.nombreUsuario }}</p>
      <h5 class="fw-bold text-primario">$ {{ produc.precio }}</h5>
      <p class="fw-bold text-success">Envió Gratis</p>
      <p class="fw-bold">Cantidad: {{ produc.cantidad }}</p>
      <p class="fw-bold">Teléfono: {{ produc.proveedor?.telefono }}</p>
      <p class="fw-bold">Etiquetas: {{ produc.etiquetas }}</p>
      <p class="fw-bold">Descripción: {{ produc.descripcion }}</p>
      <div class="text-start my-5">
        <button class="mt-2 enviar fw-bold" type="submit" (click)="comprar()">
          Comprar
        </button>
        <button
          class="mt-2 mx-3 enviar fw-bold"
          type="submit"
          (click)="agregarCarrito()"
        >
          Agregar al Carrito
        </button>
      </div>

      <div class="container my-4 py-4 text-start" *ngIf="loaderCarrito">
        <div class="line-wobble"></div>
      </div>
      <div [innerHTML]="msjCarrito"></div>
    </div>
  </div>
</article>
<article class="my-4">
  <div class="container mx-auto p-3">
    <h3>Recomendados para ti.</h3>
    <div class="container text-center" *ngIf="loader">
      <p class="fw-bold">Cargando...</p>
      <div class="line-wobble mx-auto"></div>
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 g-4 align-items-center my-auto"
      *ngIf="produc.nombre"
    >
      <div class="col text-center" *ngFor="let producto of productosAleatorios">
        <div class="card-ofertas mx-auto" (click)="cargarProducto()">
          <div class="container text-center p-2">
            <a
              routerLink="/ver-producto/{{ producto.id_producto }}"
              class="text-center"
            >
              <img
                class="img-produc-2 img-fluid"
                [src]="producto.imagen"
                alt="{{ produc.nombre }}"
              />
            </a>
          </div>
          <hr />
          <div class="card-body my-4">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h4 class="col fw-bold text-center text-md-end">
                ${{ producto.precio }}
              </h4>
              <p class="col text-success text-center text-md-start my-0">
                30% OFF
              </p>
            </div>
            <a
              class="text-primario text-start fw-bold"
              routerLink="/ver-producto/{{ producto.id_producto }}"
            >
              Ver Producto
            </a>
            <p class="text-success text-center fw-bold">Envió Gratis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
