a {
  text-decoration: none;
}
.imgSombra {
  height: 390px;
  object-fit: contain;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  border-radius: 10px;
}
.enviar {
  --color: var(--primary);
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}

.enviar::before,
.enviar::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.enviar::before {
  top: -1em;
  left: -1em;
}

.enviar::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.enviar:hover::before,
.enviar:hover::after {
  height: 410px;
  width: 410px;
}

.enviar:hover {
  color: white;
}

.enviar:active {
  filter: brightness(0.8);
}

.img-produc-1 {
  width: auto;
  height: 200px;
  object-fit: contain;
}
.img-produc-2 {
  width: auto;
  height: 160px;
  object-fit: contain;
}
.img-produc-3 {
  width: auto;
  height: 160px;
  object-fit: contain;
}

.card-ofertas {
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  border-radius: 10px;
  transition: all 300ms;
}
.card-ofertas:hover {
  /*  opacity: 0.8; */
  transform: scale(1.1);
  border: var(--primary) 0.1em solid;
}
@media screen and (max-width: 767px) {
  .card-ofertas {
    width: 250px;
  }
}
@media screen and (max-width: 573px) {
  .imgSombra {
    height: 250px;
  }
  .detalles {
    width: 100%;
  }
}
