<section>
  <div class="container my-3">
    <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-2">
      <div class="col text-center">
        <img
          src="../../../../assets/img/ofertas/xbox.jpg"
          class="img-fluid imgSombra"
        />
      </div>
      <div class="col-4 detalles">
        <h2 class="fw-bold text-center text-md-start">Xbox Series X</h2>
        <p class="fw-bold">Vendedor: Microsoft</p>
        <p class="text-primario fw-bold">
          Etiquetas: Videojuegos, Juegos, etc.
        </p>
        <p class="fw-bold">Precio: $260,785</p>
        <p class="fw-bold">Envió Gratis</p>
        <p class="fw-bold">Publicado el 10 de Diciembre.</p>
        <p>
          Descripcion. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Adipisci aspernatur quis architecto, ex incidunt sapiente. Ut illo
          nobis non illum in, reprehenderit saepe dolorem debitis explicabo
          porro possimus maxime vitae? Quos iure odit adipisci eius laboriosam
          vero nisi quod consequuntur error vitae, ab blanditiis cum eligendi et
          assumenda expedita exercitationem tempore totam, doloribus ullam
          consequatur accusamus, aliquid at aut. Aliquid!
        </p>
        <div class="text-start my-5">
          <button class="mt-2 enviar fw-bold" type="submit">Comprar</button>
          <button class="mt-2 mx-3 enviar fw-bold" type="submit">
            Agregar al Carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-4">
  <div class="container mx-auto p-3">
    <h3>Recomendados para ti.</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4 align-items-center my-auto">
      <div class="col text-center">
        <div class="card-ofertas mx-auto">
          <div class="container text-center p-2">
            <a routerLink="/ver-producto" class="text-center">
              <img
                class="img-produc-2 img-fluid"
                src="../../../../assets/img/ofertas/play.jpg"
              />
            </a>
          </div>
          <hr />
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h5 class="col fw-bold text-center text-md-end">$40.222</h5>
              <p class="col text-success text-center text-md-start my-0">
                30% OFF
              </p>
            </div>
            <a class="text-success text-start fw-bold">Envió Gratis</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card-ofertas mx-auto">
          <div class="container text-center p-2">
            <a routerLink="/ver-producto" class="text-center">
              <img
                class="img-produc-2 img-fluid"
                src="../../../../assets/img/ofertas/lenovo.jpg"
              />
            </a>
          </div>
          <hr />
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h5 class="coltext-center text-md-end fw-bold">$40.222</h5>
              <p class="col text-success text-center text-md-start my-0">
                30% OFF
              </p>
            </div>
            <a class="text-success text-start fw-bold">Envió Gratis</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card-ofertas mx-auto">
          <div class="container text-center p-2">
            <a routerLink="/ver-producto" class="text-center">
              <img
                class="img-produc-2 img-fluid"
                src="../../../../assets/img/ofertas/pcgamer.jpg"
              />
            </a>
          </div>
          <hr />
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h5 class="col text-center text-md-end fw-bold">$40.222</h5>
              <p class="col text-success text-center text-md-start my-0">
                30% OFF
              </p>
            </div>
            <a class="text-success text-start fw-bold">Envió Gratis</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card-ofertas mx-auto">
          <div class="container text-center p-2">
            <a routerLink="/ver-producto" class="text-center">
              <img
                class="img-produc-2 img-fluid"
                src="../../../../assets/img/ofertas/lenovo.jpg"
              />
            </a>
          </div>
          <hr />
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
              <h5 class="col text-center text-md-end fw-bold">$40.222</h5>
              <p class="col text-success text-center text-md-start my-0">
                30% OFF
              </p>
            </div>
            <a class="text-success text-start fw-bold">Envió Gratis</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5" size="5" />
</section>
