<article id="ayuda" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="myy-2">Ayuda y preguntas frecuentes</h2>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <h5 class="my-3">Realizar una compra e MiTec es muy simple.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="accordion" id="accordionPreguntasFrecuentes">
          <div class="accordion-item">
            <h3 class="accordion-header" id="pregunta0">
              <button
                class="accordion-button fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#respuesta0"
                aria-expanded="true"
                aria-controls="respuesta0"
              >
                ¿Cómo puedo crear una cuenta?
              </button>
            </h3>
            <div
              id="respuesta0"
              class="accordion-collapse collapse show"
              aria-labelledby="pregunta0"
              data-bs-parent="#accordionPreguntasFrecuentes"
            >
              <div class="accordion-body">
                Para crear una cuenta, simplemente sigue estos pasos:
                <ul>
                  <li>
                    Primero debes ingresar al siguiente Link
                    <span>
                      <a routerLink="/registro" class="text-primario">
                        Crear cuenta.
                      </a>
                    </span>
                  </li>
                  <li>Luego rellena todas las casillas con tus datos.</li>
                  <li>Envía tus datos y listo ya estas registrado.</li>
                  <li>
                    Para ingresar a tu cuenta debes ingresar tu Nombre de
                    usuario y Contraseña en
                    <span>
                      <a routerLink="/login" class="text-primario">
                        Ingresar.
                      </a>
                    </span>
                  </li>
                </ul>
                Ahora ya estas listo para comprar o vender tu primer producto.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="pregunta1">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#respuesta1"
                aria-expanded="false"
                aria-controls="respuesta1"
              >
                ¿Cómo puedo comprar en la tienda en línea?
              </button>
            </h3>
            <div
              id="respuesta1"
              class="accordion-collapse collapse"
              aria-labelledby="pregunta1"
              data-bs-parent="#accordionPreguntasFrecuentes"
            >
              <div class="accordion-body">
                Para comprar en nuestra tienda en línea, simplemente sigue estos
                pasos:
                <ul>
                  <li>Busca el producto que deseas comprar</li>
                  <li>Agrega el producto a tu carrito de compras</li>
                  <li>
                    Revisa tu carrito de compras y confirma la cantidad y los
                    detalles del producto
                  </li>
                  <li>
                    Procede al pago y sigue las instrucciones para completar la
                    compra
                  </li>
                </ul>
                Si tienes alguna duda durante el proceso de compra, no dudes en
                contactarnos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="pregunta4">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#respuesta4"
                aria-expanded="false"
                aria-controls="respuesta4"
              >
                ¿Como vender un producto?
              </button>
            </h3>
            <div
              id="respuesta4"
              class="accordion-collapse collapse"
              aria-labelledby="pregunta4"
              data-bs-parent="#accordionPreguntasFrecuentes"
            >
              <div class="accordion-body">
                Para vender tu producto, sigue estos pasos:
                <ul>
                  <li>
                    Primero debes ingresar al siguiente Link
                    <span>
                      <a routerLink="/agregar-producto" class="text-primario">
                        Agregar.
                      </a>
                    </span>
                  </li>
                  <li>
                    Luego rellena todas las casillas con los datos del producto.
                  </li>
                  <li>
                    Envía los datos y listo ya estara cargado tu producto.
                  </li>
                </ul>
                Ahora ya tu producto se encontrará en venta y deberás esperar un
                comprador.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="pregunta2">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#respuesta2"
                aria-expanded="false"
                aria-controls="respuesta2"
              >
                ¿Cuáles son los métodos de pago disponibles?
              </button>
            </h3>
            <div
              id="respuesta2"
              class="accordion-collapse collapse"
              aria-labelledby="pregunta2"
              data-bs-parent="#accordionPreguntasFrecuentes"
            >
              <div class="accordion-body">
                Actualmente aceptamos pagos con tarjeta de crédito y débito, así
                como transferencias bancarias y pagos en efectivo en tiendas
                seleccionadas. Durante el proceso de pago, podrás ver las
                opciones de pago disponibles para tu ubicación.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="pregunta3">
              <button
                class="accordion-button collapsed fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#respuesta3"
                aria-expanded="false"
                aria-controls="respuesta3"
              >
                ¿Cuánto tiempo tarda en llegar mi pedido?
              </button>
            </h3>
            <div
              id="respuesta3"
              class="accordion-collapse collapse"
              aria-labelledby="pregunta3"
              data-bs-parent="#accordionPreguntasFrecuentes"
            >
              <div class="accordion-body">
                El tiempo de entrega depende de tu ubicación y del método de
                envío seleccionado. Por lo general, los pedidos se entregan en
                un plazo de 2 a 7 días hábiles después de la confirmación del
                pago. Te tualmente, ofrecemos envío gratuito en pedidos
                superiores a $50 dólares, y también puedes optar por envío
                exprés por un costo adicional.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
