<section>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/img/publi1.jpg"
          class="d-block w-100 carrosel"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/publi2.jpg"
          class="d-block w-100 carrosel"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/publi3.jpg"
          class="d-block w-100 carrosel"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/publi4.jpg"
          class="d-block w-100 carrosel"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="my-4">
  <div class="container mx-auto p-3">
    <div class="row row-cols-2 row-cols-md-4 g-4 align-items-center">
      <div class="col text-center">
        <div class="card mx-auto">
          <div class="container text-center">
            <a href="#">
              <i class="bi bi-cash-stack active-icon"></i>
            </a>
          </div>
          <div class="card-body">
            <h5>Vender</h5>
            <a class="text-primary fw-bold">Vende lo que no necesites</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card mx-auto">
          <div class="container text-center">
            <a href="#">
              <i class="bi bi-joystick active-icon"></i>
            </a>
          </div>
          <div class="card-body">
            <h5>Ver Productos</h5>
            <a class="text-primary fw-bold">Explora categorías</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card mx-auto">
          <div class="container text-center">
            <a href="#">
              <i class="bi bi-cart3 active-icon"></i>
            </a>
          </div>
          <div class="card-body">
            <h5>Mi Carrito</h5>
            <a class="text-primary fw-bold">Mira tu lista de compra</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card mx-auto">
          <div class="container text-center">
            <a href="#">
              <i class="bi bi-question-diamond-fill active-icon"></i>
            </a>
          </div>
          <div class="card-body">
            <h5>Ayuda</h5>
            <a class="text-primary fw-bold">¿Como vender y comprar?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5" size="5" />
</section>
