a {
  text-decoration: none;
  color: var(--secondary);
}

li {
  color: var(--primary);
  cursor: pointer;
}
.body {
  min-height: 100vh;
}
.card-img-top {
  width: 190;
  height: 150px;
  object-fit: contain;
}
.card {
  /* width: 500px; */
  box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* Busqueda de productos */
.input {
  width: 400px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #8757e7;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: var(--primary);
}

.input::placeholder {
  color: #777777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
/* Boton de busqueda */
button {
  font-size: 18px;
  color: var(--primary);
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: var(--primary);
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.btn:hover {
  color: var(--primary);
}

@media screen and (max-width: 500px) {
  .input {
    margin-top: 25px;
    width: 250px;
  }
}
@media screen and (max-width: 995px) {
  .card {
    width: 120px;
  }
}
@media screen and (max-width: 769px) {
  .card {
    width: 230px;
  }
}
