<div class="container">
  <div class="row">
    <!-- Barra de navegación de filtros de productos -->
    <div class="col-md-3">
      <h4>Filtrar por</h4>
      <hr />
      <h5>Categorías</h5>
      <ul class="text-primario">
        <li><a href="#" class="text-primario">Categoría 1</a></li>
        <li><a href="#" class="text-primario">Categoría 2</a></li>
        <li><a href="#" class="text-primario">Categoría 3</a></li>
      </ul>
      <hr />
      <h5>Marca</h5>
      <ul class="text-primario">
        <li><a href="#" class="text-primario">Marca 1</a></li>
        <li><a href="#" class="text-primario">Marca 2</a></li>
        <li><a href="#" class="text-primario">Marca 3</a></li>
      </ul>
    </div>
    <!-- Productos -->
    <div class="col-md-9">
      <h4>Todos los productos</h4>
      <hr />
      <div class="row">
        <!-- Productos como tarjetas en columnas de 4 -->
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <a routerLink="/ver-producto">
                <button class="my-2 ver-produc fw-bold p-1">
                  Ver Producto
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-2">
          <div class="card">
            <img
              class="card-img-top"
              src="https://via.placeholder.com/250x250"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">$30.00</p>
              <button class="my-2 ver-produc fw-bold p-1">Ver Producto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
